#container{
  width: 600px;
  margin: 0 auto;
}
article{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.top_r{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bottom_r{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
dl{
  display: none;
}
#art1 img{
  width: 140px;
  height: 200px;
  float: left;
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
}
#recipe{
  border: 1px solid #ccc;
  padding: 10px;
}
#art2 img{
  width: 150px;
  height: 150px;
  float: right;
  margin-left: 10px;
}
table{
  width: 90%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 auto;
}
th,td{
  border: 1px solid #ccc;
  padding: 5px;
}
th{
  background-color: beige;
}
tbody{
  text-align: center;
}
table caption{
  font-weight: bold;
  margin-bottom: 5px;
}
#표{
  border: 1px solid #ccc;
}