*{
  box-sizing: border-box;
  font-family: "맑은 고딕", 굴림, 돋움;
}
#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  text-align: center;
}
nav{
  background: #000;
  overflow: hidden;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav li{
  float: left;
  list-style: none;
}
nav li:last-child{
  float: right;
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}
nav a:hover{
  color: #000;
  background: #ff0;
}
aside{
  width: 200px;
  height: 500px;
  text-align: center;
  float: left;
  background: beige;
}
section{
  text-align: center;
  width: 600px;
  height: 500px;
  padding: 10px;
  float: left;
}
form{
  width: 500px;
  margin: 0 auto;
  background: #ddd;
  padding: 20px 10px;
}
form fieldset{
  border: none;
}
form legend{
  font-weight: bold;
}
form ul{
  padding: 0;
  list-style: none;
}
form li{
  border-radius: 5px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #fff;
  padding: 5px;
  margin-bottom: 5px;
}
form label{
  width: 130px;
  display: inline-block;
  /* font-weight: 600; */
}
form input{
  width: 250px;
  padding: 3px;
}
button{
  width: 150px;
  border: none;
  border-radius: 30px;
  background: #fef;
  padding: 15px;
  font-weight: 600;
}
footer{
  clear: both;
  background: #aaa;
  padding: 10px;
  text-align: center;
}