*{
  box-sizing: border-box;
  font-family: "맑은 고딕",굴림,돋움;/*항상 보조 글꼴까지 세개 마지막은 기본글꼴 돋움*/
  }

#container{
  width: 1000px;
  margin: 0 auto;
}

h1{
  text-align: center;
}

nav{
  overflow:hidden;
  background-color: black;
  
} 
nav ul{
  margin: 0px;
  padding: 0px;
}

nav li{
  float: left;
  list-style: none;
}

nav li:last-child{
  float: right;
}

nav a{
  display: block;
  padding: 10px;
  color:#fff;
  text-decoration: none;
}

nav a:hover{
  background-color: yellow;
  color: black;
}

aside{
  float: left;
  width: 200px;
  height: 500px;
  text-align: center;
  background-color: #eee;
}

section{
  float: left;
  text-align: center;
  width: 600px;
  height: 500px;
  padding: 10px;
}

form{
  width: 500px;
  margin: 0 auto;
  background-color: #ddd;
  padding: 20px 10px;
}

form fieldset{
  border: none;
}

form legend{
  font-weight: bold;
}
form ul{
  padding:0;
  list-style: none;
}

form li{
  border-radius: 5px;
  background: rgba(255,255,255,0.5);
  border: 1px soiid #fff;
  padding: 5px;
  margin-bottom: 5px;
}
form label{
  width: 130px;
  display: inline-block;
  
}
form input{
  width: 250px;
  padding: 3px;
}

button{
  width: 150px;
  border: none;
  border-radius: 30px;
  padding: 15px;
  background-color: #fef;
  font-weight: 600;
}
footer{
  clear: both;
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}
